.bookingForm{
    margin: 2.5rem auto;
    text-align: left;
    max-width: 45rem;
    background-color: #495E57;
    border-radius: 16px;
    padding: 2rem 2rem;
}

.field{
    padding: 0.6rem 0;
}

label{
    display: block;
    padding: 1rem 0;
    color: #fff;
}

input, select{
    width: 100%;
    padding: 0.5rem;
    border-radius: 6px;
}

.bookingForm .button{
    font-size: 17px !important;
}

.button:disabled{
    background-color: darkgrey;
    color: #e4e0e0;
}

.buttonField{
    text-align: center;
}

