.cards{
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  max-width: 65rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.orderDelivery:hover{
  text-decoration: underline;

}

#specials-section{
  width: 65rem;
  margin: 1rem auto;
  font-family:  Karla !important;
  font-size: 2.5rem;
}

.specials{
  padding: 5rem 0;
}

@media (max-width: 780px) {
  .cards{
    flex-flow: column;
  }

}

.card{
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 100%;
  min-height: 27rem;
  background-color: #EDEFEE;
  border-radius: 16px 16px 0 0;
  margin-bottom: 1rem;
}

.cards > div > img{
  height: 185px;
  width: 100%;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.heroImg{
  border-radius: 16px;
  object-fit:cover;
  height: 25rem;
  margin-bottom: -3rem;
  position:'relative';
  margin-top: 1rem;
  width:100%;
}

.hero{
  background-color: #495E57;
  display: block;
  /* margin: 0 auto; */
}

.heroText{
  /* padding: 10px; */
}

nav div{
  margin: auto;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
